@import "_variables";

@import "../../../../node_modules/bootstrap/scss/_functions";
@import "../../../../node_modules/bootstrap/scss/_variables";
@import "../../../../node_modules/bootstrap/scss/_mixins";

/** Общее **/
html,
body {
  height: 100%;
}

a,
a:active,
a:link,
a:visited,
a:focus {
  color: $link-color;
  transition: color 0.3s ease 0s;
}

/** Навигация **/
.navbar {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  position: relative;

  &__link,
  &__link:active,
  &__link:link,
  &__link:visited,
  &__link:focus {
    display: block;
    padding: 1.8rem 0.5rem 0.2rem;
    border-top: 2px solid transparent;
    transition: border 0.3s ease 0s, color 0.3s ease 0s;
  }

  &__link:hover {
    border-top: 2px solid $link-hover-color;
    text-decoration: none;
    color: $link-hover-color;
  }

  &__top-menu {
    display: flex;
    flex-flow: row nowrap;
    list-style: none;
    margin: 0 0 0 auto;
    padding: 0;
  }

  &__active {
    font-weight: 500;
  }

  &__brand {
    font-weight: bold;
    font-size: 1.5rem;
    width: 25%;
    margin-top: 1rem;
    color: $brand-color;
    opacity: 0.85;
    transition: opacity 0.3s ease 0s;

    &:hover {
      opacity: 1;
    }

    &-link,
    &-link:active,
    &-link:link,
    &-link:visited,
    &-link:focus {
      color: $brand-color;
      opacity: 0.85;
    }

    &-logo {
      width: 60px;
    }
  }

  &__hamburger {
    font-size: 2rem;
    display: none;
    margin: 0;
    padding: 0;
  }

  &__cart {
    margin-left: 2rem;
    font-size: 2rem;
    margin-top: 1.5rem;
    transition: opacity 0.3s ease 0s !important;
    opacity: 0.85;

    &:hover {
      opacity: 1;
    }
  }
}

@media only screen and (max-width: 992px) {
  .navbar {
    flex-flow: column;
    align-items: center;
    &__top-menu {
      margin: 0.5rem 0 0 -0.5rem;
    }

    &__brand {
      width: auto;
    }

    &__link,
    &__link:active,
    &__link:link,
    &__link:visited,
    &__link:focus {
      display: block;
      padding: 0.5rem;
    }
  }
}

@media only screen and (max-width: 576px) {
  .navbar {
    align-items: stretch;
    &__top-menu {
      flex-flow: column;
    }

    &__hamburger {
      position: absolute;
      top: 0;
      right: 0;
      display: block;
    }
  }
}

/** Верхняя секция **/
#section-top {
  background: url("/test/dist/images/bg-top.jpg");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: cover;
  height: 60%;
  margin: 1rem 0 0;
  color: #fff;
}

.top-info {
  margin: auto 0;

  &__title,
  &__desc,
  &__desc-2 {
    margin: 0;
  }

  &__title {
    font-size: 2.2rem;
  }

  &__desc {
    font-size: 1.4rem;
  }

  &__desc-2 {
    width: 800px;
    margin-bottom: 0.5rem;
  }

  &__hr {
    margin: 0.65rem 0;
    padding: 0;
    height: 0;
    border: none;
    border-top: 1px solid rgb(136, 136, 136);
    width: 800px;
  }

  &__buy,
  &__buy:active,
  &__buy:link,
  &__buy:visited,
  &__buy:focus {
    display: inline-block;
    color: #fff !important;
    transition: background-color 0.25s ease 0s;
    background-color: $button-bg-color;
    font-weight: 400;
    padding: 0.8rem 1rem;
    border-radius: 0.3rem;
    font-size: 1.25rem;
    margin: 0.6rem 0 0;
  }

  &__buy:hover {
    background-color: $button-bg-color-hover;
  }
}

/** Преимущества **/

.advant {
  margin-top: 1.5rem;
  text-align: center;

  &__header {
    margin-bottom: 0.5rem;
  }

  &__hr {
  }

  &__img {
    height: 250px;
    margin: 0 auto 0.8rem;
  }

  &__item {
  }

  &__glass {
    background: url("/test/dist/images/glass.jpg");
    background-position: top left;
    background-size: cover;
  }

  &__protection {
    background: url("/test/dist/images/protection.jpg");
    background-position: center top;
    background-size: cover;
  }

  &__design {
    background: url("/test/dist/images/design.jpg");
    background-position: center;
    background-size: cover;
  }
}

/** Скидка - кнопка посередине **/

#section-discount {
  margin: 2.5rem 0 0;
}

.middle-buy {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &__button,
  &__button:active,
  &__button:link,
  &__button:visited,
  &__button:focus {
    margin-top: -4rem;
    display: inline-block;
    color: #fff !important;
    transition: background-color 0.25s ease 0s;
    background-color: $button-bg-color;
    font-weight: 400;
    padding: 0.8rem 1rem;
    border-radius: 0.3rem;
    font-size: 1.5rem;
    text-align: center;
  }

  &__button:hover {
    background-color: $button-bg-color-hover;
  }

  &__discount {
    align-self: flex-end;
    font-size: 1.2rem;
    margin-top: -1.3rem;
    color: rgb(104, 17, 17);

    & b {
      font-weight: 500;
    }
  }
}

/** Характеристики **/
.characters {
  margin-top: 1rem;

  &__hr {
    margin-bottom: 0.5rem;
  }

  &__header {
    text-align: center !important;
    margin-bottom: 1rem;
  }

  &__carousel {
    margin: auto 0;
  }

  &__item {
    display: flex;

    & span {
      margin-left: auto;
    }
  }

  &__list {
    margin-left: 0;
    list-style: none;
    counter-reset: li;
    margin: 0;
    padding: 0;

    & li {
      position: relative;
      margin-bottom: 0.75rem;
      border: 2px solid rgb(45, 3, 85);
      padding: 0.6em;
      border-radius: 4px;
      background: #fefefe;
      color: rgb(0, 0, 0);
      font-family: "Trebuchet MS", "Lucida Sans";
    }

    & li:last-child {
      margin: 0;
    }

    & li:before {
      position: absolute;
      top: -0.8em;
      padding-left: 0.4em;
      padding-right: 0.4em;
      font-size: 16px;
      font-weight: bold;
      color: rgb(6, 88, 155);
      background: #fefefe;
      border-radius: 50%;
      counter-increment: li;
      content: '•';
    }
  }
}

/** Почему мы **/

#section-why-we {
  background: url('/test/dist/images/pat.jpg') left top repeat;
  margin-top: 2rem;
}

.why-we {
  padding-top: 1rem;
  &__header {
    text-align: center;
  }

  &__content {
    padding: 2rem 0;
  }

  &__main {
    display: flex;
    list-style: none;
  }

  &__item {
    border-left: 2px solid #bfc0c5;
    border-bottom: 2px solid #bfc0c5;
    border-radius: 0 0 0 30px;
    position: relative;
    padding: 0 2rem 2rem 4rem;
    height: 100%;

    & img {
      position: absolute;
      left: -2.35rem;   
    }
  }
}